<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('tennis.static',filename='index.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('tennis.static', filename='favicon.ico') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css"
    />
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/responsive/3.0.0/css/responsive.dataTables.min.css"
    />
    <script src="https://cdn.datatables.net/responsive/3.0.0/js/dataTables.responsive.min.js"></script>
    <title>Tennis Event Tracker</title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Tennis Event Tracker</a>
          <form class="form-inline">
              <!-- GitHub link removed -->
            <button
              type="button"
              class="btn btn-outline-light instructions-button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Help
            </button>
          </form>
        </nav>
      </div>
      <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1100;">
        <div id="keyboardShortcutToast" class="toast align-items-center text-bg-dark border-0" role="alert"
          aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body">
              New: Use keyboard shortcuts to select grip, shot, outcome, and player. Use Enter to add an event without coordinates, or Backspace to remove the last event.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
              aria-label="Close"></button>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-dialog-scrollable modal-lg"
            role="document"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Help</h4>
              </div>
              <div class="modal-body">
                <p>
                  Thanks for using this web app! Here's how to get started with
                  collecting event data:
                </p>
                <hr />
                <h5>Quickstart</h5>
                <ol type="1">
                  <li>
                    Select a grip, shot type, and outcome from the menu using
                    the mouse or keyboard shortcuts in brackets.
                  </li>
                  <li>
                    Select a player from the player menu via the mouse or
                    keyboard shortcuts in brackets.
                  </li>
                  <li>Click the area of the court where the action occured.</li>
                  <li>
                    To record the start and end points of an action, click and
                    drag the mouse across the court.
                  </li>
                  <li>Press Enter to add an event without coordinates.</li>
                  <li>Press Backspace to remove the last event.</li>
                </ol>
                <hr />
                <h5>Customize Player Details</h5>
                <p>
                  Click on the "Edit" button next to the Home Player or Away
                  Player heading to open a pop-up. Add additional information
                  (jersey numbers, player names) to customize the exported CSV
                  and PDF files.
                </p>
                <hr />
                <h5>Generate CSV and PDF Reports</h5>
                <p>
                  After tagging the events, click on the "Download CSV" or
                  "Download Report" button to obtain a CSV file of the table or
                  a PDF report that details the actions taken by each player.
                </p>
                <hr />
                <h5>Feedback</h5>
                <p>
                  If you have any feedback, feel free to send us an
                  email
                  <a href="mailto:chaitanya.jadhav15@hotmail.com">here</a> or
                  <a href="mailto:john.komar@nie.edu.sg">here</a>.
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="row align-items-center">
            <div class="row mt-2">
              <h5 class="heading">Timer</h5>
            </div>
            <div class="col-md-6 mt-1">
              <h4 id="timerDisplay">00:00:00</h4>
            </div>
            <div class="col-md-6 text-end mt-1">
              <button class="btn btn-success me-1" onclick="startTimer()">
                Start
              </button>
              <button class="btn btn-warning me-1" onclick="pauseTimer()">
                Pause
              </button>
              <button class="btn btn-danger" onclick="stopTimer()">Stop</button>
            </div>
          </div>
          <hr />
          <div class="row-container">
            <div class="row mt-1">
              <h5 class="pitch-heading">Court</h5>
            </div>
            <div class="row">
              <div class="zoom-controls">
                <button class="btn btn-outline-primary" onclick="zoomIn()">
                  Zoom In (+)
                </button>
                <button class="btn btn-outline-primary" onclick="zoomOut()">
                  Zoom Out (-)
                </button>
              </div>
            </div>
          </div>
          <div class="row pitch-container mt-3">
            <div class="pitch-wrapper">
              <div id="pitch">
                <div class="court">

                  <!-- Singles sidelines -->
                  <div class="singles-line top"></div>
                  <div class="singles-line bottom"></div>

                  <!-- Four service boxes -->
                  <div class="service-box top left"></div>
                  <div class="service-box top right"></div>
                  <div class="service-box bottom left"></div>
                  <div class="service-box bottom right"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="button-container col-sm-12 col-md-12 col-lg-6">
          <!-- Modal for Editing Event Names -->
          <div
            class="modal fade"
            id="editEventNamesModal"
            tabindex="-1"
            aria-labelledby="editEventNamesModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editEventNamesModalLabel">
                    Edit Event Names
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form id="editEventNamesForm">
                    <div class="mb-3">
                      <label for="eventNamesTextarea" class="form-label"
                        >Enter Event Names (One per line)</label
                      >
                      <textarea
                        class="form-control"
                        id="eventNamesTextarea"
                        rows="12"
                        placeholder="Serve - Flat&#10;Serve - Top Spin&#10;Serve - Slice"
                      ></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-primary"
                    onclick="saveEventNames()"
                  >
                    Save
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <h5 class="heading">Grip</h5>
            <div class="btn-group-vertical col-6" role="group">
              <button
                id="forehand"
                class="btn btn-outline-primary btn-small"
                onclick="setGrip('Forehand')"
              >
                Forehand (G)
              </button>
            </div>
            <div class="btn-group-vertical col-6" role="group">
              <button
                id="backhand"
                class="btn btn-outline-primary btn-small"
                onclick="setGrip('Backhand')"
              >
                Backhand (H)
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-auto align-items-center d-flex mt-3">
              <h5 class="heading">Shot Type</h5>
            </div>
            <div class="col-auto mt-2">
              <button
                type="button"
                class="btn btn-outline-secondary edit-event-button"
                data-bs-toggle="modal"
                data-bs-target="#editEventNamesModal"
              >
                Edit
              </button>
            </div>
          </div>
          <div class="event-buttons-scroll mt-2">
            <div
              id="eventButtonsGrid"
              class="event-buttons-grid"
              role="group"
              aria-label="Shot type buttons"
            ></div>
          </div>
          <div class="row mt-2">
            <h5 class="heading">Outcome</h5>
            <div class="col-12">
              <div class="row">
                <div class="btn-group-vertical col-sm-6" role="group">
                  <button
                    id="winner"
                    class="btn btn-outline-primary btn-small event-button"
                    onclick="setOutcome('Winner')"
                  >
                    Winner (W)
                  </button>
                  <button
                    id="unforcederror"
                    class="btn btn-outline-primary btn-small event-button"
                    onclick="setOutcome('Unforced Error')"
                  >
                    Unforced Error (U)
                  </button>
                </div>
                <div class="btn-group-vertical col-sm-6" role="group">
                  <button
                    id="forcederror"
                    class="btn btn-outline-primary btn-small event-button"
                    onclick="setOutcome('Forced Error')"
                  >
                    Forced Error (F)
                  </button>
                  <button
                    id="rally"
                    class="btn btn-outline-primary btn-small event-button"
                    onclick="setOutcome('Rally')"
                  >
                    Rally (R)
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Modal for Editing Player Names -->
            <div
              class="modal fade"
              id="editHomePlayerNamesModal"
              tabindex="-1"
              aria-labelledby="editHomePlayerNamesModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editHomePlayerNamesModalLabel">
                      Edit Home Team Player Names
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form id="editHomePlayerNamesForm">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Jersey Number</th>
                            <th scope="col">Player Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- Statically defined rows for 16 players -->
                          <tr>
                            <td>
                              <input
                                type="text"
                                class="form-control"
                                id="homeJersey1"
                                placeholder="A01"
                              />
                            </td>
                            <td>
                              <input
                                type="text"
                                class="form-control"
                                id="homePlayer1"
                                placeholder="Player1"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input
                                type="text"
                                class="form-control"
                                id="homeJersey2"
                                placeholder="A02"
                              />
                            </td>
                            <td>
                              <input
                                type="text"
                                class="form-control"
                                id="homePlayer2"
                                placeholder="Player2"
                              />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      onclick="updatePlayerNames('home')"
                    >
                      Save
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="modal fade"
              id="editAwayPlayerNamesModal"
              tabindex="-1"
              aria-labelledby="editAwayPlayerNamesModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editAwayPlayerNamesModalLabel">
                      Edit Away Team Player Names
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form id="editAwayPlayerNamesForm">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Jersey Number</th>
                            <th scope="col">Player Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- Statically defined rows for 16 players -->
                          <tr>
                            <td>
                              <input
                                type="text"
                                class="form-control"
                                id="awayJersey1"
                                placeholder="B01"
                              />
                            </td>
                            <td>
                              <input
                                type="text"
                                class="form-control"
                                id="awayPlayer1"
                                placeholder="Player1"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input
                                type="text"
                                class="form-control"
                                id="awayJersey2"
                                placeholder="B02"
                              />
                            </td>
                            <td>
                              <input
                                type="text"
                                class="form-control"
                                id="awayPlayer2"
                                placeholder="Player2"
                              />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      onclick="updatePlayerNames('away');"
                    >
                      Save
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="row align-items-center">
                <div class="col-auto align-items-center d-flex">
                  <h5 class="heading mb-0">Home Player</h5>
                </div>
                <div class="col-auto">
                  <button
                    type="button"
                    class="btn btn-outline-secondary edit-player-button"
                    data-bs-toggle="modal"
                    data-bs-target="#editHomePlayerNamesModal"
                  >
                    Edit
                  </button>
                </div>
              </div>
              <div class="btn-group-vertical w-100 mt-2" role="group">
                <button
                  id="homePlayerButton1"
                  class="btn btn-outline-primary player-button"
                  onclick="setPlayer('home', 1);"
                >
                  A01 (1)
                </button>
                <button
                  id="homePlayerButton2"
                  class="btn btn-outline-primary player-button"
                  onclick="setPlayer('home', 2);"
                >
                  A02 (2)
                </button>
              </div>
            </div>

            <div class="col-6">
              <div class="row align-items-center">
                <div class="col-auto align-items-center d-flex">
                  <h5 class="heading mb-0">Away Player</h5>
                </div>
                <div class="col-auto">
                  <button
                    type="button"
                    class="btn btn-outline-secondary edit-player-button"
                    data-bs-toggle="modal"
                    data-bs-target="#editAwayPlayerNamesModal"
                  >
                    Edit
                  </button>
                </div>
              </div>
              <div class="btn-group-vertical w-100 mt-2" role="group">
                <button
                  id="awayPlayerButton1"
                  class="btn btn-outline-primary player-button"
                  onclick="setPlayer('away', 1);"
                >
                  B01 (3)
                </button>
                <button
                  id="awayPlayerButton2"
                  class="btn btn-outline-primary player-button"
                  onclick="setPlayer('away', 2);"
                >
                  B02 (4)
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row tracked-events flex-fill">
        <div class="col-12">
          <h5>Tracked Events</h5>
          <div class="table-responsive">
            <table
              id="event-table"
              class="table table-sm table-hover table-bordered dt-responsive"
            >
              <thead class="table-dark">
                <tr>
                  <th scope="col">Time</th>
                  <th scope="col">Player</th>
                  <th scope="col">
                    Grip
                    <!--TODO: Add filtering-->
                  </th>
                  <th scope="col">Shot Type</th>
                  <th scope="col">Outcome</th>
                  <th scope="col">X1</th>
                  <th scope="col">Y1</th>
                  <th scope="col">X2</th>
                  <th scope="col">Y2</th>
                  <th scope="col">X</th>
                </tr>
              </thead>
              <tbody class="events">
                <!-- Rows will be added here by JavaScript -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row mb-3 mt-3 justify-content-center">
        <div class="col-6">
          <button
            id="download-csv"
            class="btn btn-primary w-100"
            onclick="downloadCSV()"
            type="button"
          >
            Download CSV
          </button>
        </div>
        <div class="col-6">
          <button
            id="download-pdf"
            class="btn btn-primary w-100"
            onclick="downloadPDF()"
            type="button"
          >
            Download Report
          </button>
        </div>
      </div>
    </div>
    <footer class="bg-dark text-center text-lg-start footer">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase text-white">Author</h5>
            <p class="text-white">
              Developed by <strong>Chaitanya Jadhav</strong> and
              <strong>John Komar</strong>
            </p>
          </div>
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase text-white">Contact Information</h5>
            <p class="text-white">
              <a
                href="mailto:chaitanya.jadhav15@hotmail.com"
                class="text-white"
              >
                <i class="fas fa-envelope"></i> chaitanya.jadhav15@hotmail.com
              </a>
              /
              <a href="mailto:john.komar@nie.edu.sg" class="text-white">
                <i class="fas fa-envelope"></i> john.komar@nie.edu.sg
              </a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="{{url_for('tennis.static', filename='index.js')}}"></script>
  </body>
</html>