<!doctype html>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='index.css') }}"
/>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Football Event Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.0/css/responsive.dataTables.min.css" />
    <script src="https://cdn.datatables.net/responsive/3.0.0/js/dataTables.responsive.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col xs-12 col-sm-12 col-md-12 col-lg-6">
          <h5 class="heading">Pitch</h5>
          <p class="arrow-container">
            Direction of Attack <span class="right-arrow"></span>
          </p>
          <div class="pitch-container">
            <div id="pitch">
              <div class="goal left"></div>
              <div class="goal right"></div>
              <div class="center-circle"></div>
              <div class="center-spot"></div>
            </div>
          </div>
        </div>
      <div class="button-container col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <h5 class="heading">Event</h5>
          <div class="btn-group-vertical col-sm-12 col-md-6" role="group">
            <button
              class="btn btn-outline-primary btn-small event-button"
              onclick="setActionType.call(this, 'Shot');"
            >
            Shot (A)
            </button>
            <button
              class="btn btn-outline-primary btn-small event-button"
              onclick="setActionType.call(this, 'Shot-Save');"
            >
            Shot - Save (S)
            </button>
            <button
              class="btn btn-outline-primary btn-small event-button"
              onclick="setActionType.call(this, 'Shot-Goal');"
            >
            Shot - Goal (D)
            </button>
            <button
              class="btn btn-outline-primary btn-small event-button"
              onclick="setActionType.call(this, 'Shot Assist');"
            >
            Shot Assist (F)
            </button>
            <button
              class="btn btn-outline-primary btn-small event-button"
              onclick="setActionType.call(this, 'Dribble');"
            >
            Dribble (G)
            </button>
          </div>
          <div class="btn-group-vertical col-sm-12 col-md-6" role="group">
            <button
              class="btn btn-outline-primary btn-small event-button"
              onclick="setActionType.call(this, 'Cross');"
            >
              Cross (H)
            </button>
            <button
              class="btn btn-outline-primary btn-small event-button"
              onclick="setActionType.call(this, 'Pass');"
            >
              Pass (J)
            </button>
            <button
              class="btn btn-outline-primary btn-small event-button"
              onclick="setActionType.call(this, 'Tackle');"
            >
              Tackle (K)
            </button>
            <button
              class="btn btn-outline-primary btn-small event-button"
              onclick="setActionType.call(this, 'Free Kick');"
            >
              Free Kick (L)
            </button>
            <button
              class="btn btn-outline-primary btn-small event-button"
              onclick="setActionType.call(this, 'Corner');"
            >
              Corner (;)
            </button>
          </div>
        </div>
        <div class="row">
          <h5 class="heading">Player</h5>
          <div class="btn-group button-container" role="group">
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player1');"
            >
              P01 (1)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player2');"
            >
              P02 (2)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player3');"
            >
              P03 (3)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player4');"
            >
              P04 (4)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player5');"
            >
              P05 (5)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player6');"
            >
              P06 (6)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player7');"
            >
              P07 (7)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player8');"
            >
              P08 (8)
          </div>
          <div class="btn-group button-container" role="group">
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player9');"
            >
              P09 (9)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player10');"
            >
              P10 (0)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player11');"
            >
              P11 (Q)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player12');"
            >
              P12 (W)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player13');"
            >
              P13 (E)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player14');"
            >
              P14 (R)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player15');"
            >
              P15 (T)
            </button>
            <button
              class="btn btn-outline-primary player-button"
              onclick="setPlayer.call(this, 'Player16');"
            >
              P16 (Y)
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row tracked-events flex-fill">
      <div class="col-12">
        <h5>Cumulative Statistics</h5>
        <table id="cumulative-table" class="table table-sm table-bordered">
          <thead class="table-dark">
            <tr>
              <th scope="col">xG</th>
              <th scope="col">Goals</th>
              <th scope="col">xSave</th>
              <th scope="col">Saves</th>
              <th scope="col">Shots</th>
              <th scope="col">Passes</th>
              <th scope="col">Corners</th>
              <th scope="col">Free Kicks</th>
              <th scope="col">Tackles</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="cumulative-xg">0</td>
              <td id="cumulative-goals">0</td>
              <td id="cumulative-xsave">0</td>
              <td id="cumulative-saves">0</td>
              <td id="cumulative-shots">0</td>
              <td id="cumulative-passes">0</td>
              <td id="cumulative-corners">0</td>
              <td id="cumulative-free-kicks">0</td>
              <td id="cumulative-tackles">0</td>
            </tr>
          </tbody>
        </table>
        <h5>Tracked Events</h5>
        <div class="event-table-wrapper">
        <table id="event-table" class="table table-sm table-hover table-bordered dt-responsive">
            <thead class="table-dark">
              <tr>
                <th scope="col">Time</th>
                <th scope="col">Player</th>
                <th scope="col">
                  Event
                  <!--TODO: Add filtering-->
                  <!--<select id="event-filter" onchange="filterTable()">
                    <option value="">All Events</option>-->
                </th>
                <th scope="col">X1</th>
                <th scope="col">Y1</th>
                <th scope="col">X2</th>
                <th scope="col">Y2</th>
                <th scope="col">xG</th>
                <th scope="col">xSave</th>
                <th scope="col">X</th>
              </tr>
            </thead>
            <tbody class="events">
              <!-- Rows will be added here by JavaScript -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button id="download-csv" class="btn col-12 btn-success" onclick="downloadCSV()" type="button">Download CSV</button>
        <a href="https://graphics-jkomar.pythonanywhere.com/football/" class="btn col-12 btn-success" role="button" id="graphics-redirect">Generate PDF Report (Requires Downloaded CSV)</a>
      </div>
    </div>
    </div>
    <footer class="bg-dark text-center text-lg-start footer">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase text-white">Author</h5>
            <p class="text-white">
              Developed by <strong>Chaitanya Jadhav</strong>
            </p>
          </div>
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase text-white">Contact Information</h5>
            <p class="text-white">
              <a href="mailto:chaitanya.jadhav15@hotmail.com" class="text-white">
                <i class="fas fa-envelope"></i> chaitanya.jadhav15@hotmail.com
              </a>
            </p>
          </div>
        </div>
      </div>
    </footer>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
    
  </body>
</html>
